
{% extends "base.html" %}

{% block title %} Connectez-vous{% endblock %}

{% block stylesheet %}
   <style>
   .prefix {
      padding-right:10px !important;
   }

   main{
      padding-left: 0 !important;
      margin:auto;
      margin-top: 20px;
      max-width: 500px;
   }

   </style>
{% endblock %}


{% block body %}
   <div  class="row box">
      <div id="div-logo" class="col s12">
         <div class="logo">
            <img src="{{ url_for('static', filename='img/OokaLogo.svg') }}" alt="logo" style="width: 150px; height: auto;"/>
         </div>
      </div>

      <div id="div-form" class="col s12">
         <form method="POST" action="/login">
         {{ form.csrf_token }}

         <fieldset class="email input-field">
            <span class="icon prefix"><i class="fas fa-user"></i></span>
            {{ form.user_email(placeholder='youremail@example.com') }}
            <label class="label"> {{ form.user_email.label }}</label>
            {% if form.user_email.errors %}
               <ul class="errors">
               {% for error in form.user_email.errors %}
                  <li>{{ error }}</li>
               {% endfor %}
               </ul>
            {% endif %}
         </fieldset>

         <fieldset class="password input-field">
            <span class="icon prefix" style=""><i class="fas fa-lock"></i></span>
            <label class="label">{{ form.user_password.label }}</label>
            {{ form.user_password }}
            {% if form.user_email.errors %}
               <ul class="errors">
               {% for error in form.user_password.errors %}
                  <li>{{ error }}</li>
               {% endfor %}
               </ul>
            {% endif %}
         </fieldset> 

         {% for message in get_flashed_messages() %}
         <div class="alert alert-warning">
            {{ message }}
         </div>
         {% endfor %}
               
         <div>
            <i class="far fa-laugh-wink"></i>
         </div>
         <div class="submit-button" style="margin-top:10px;margin-bottom:10px;">
            {{ form.submit(class="btn waves-effect waves-light success") }}
         </div>
         </form>
      </div>
   </div>
{% endblock %}