{% extends "base.html" %}

{% block title %} Ajouter un Article{% endblock %}
{% block stylesheet %}
<style>
 form{
     width: 100%;
     background-color: blueviolet;
 }
</style>
{% endblock %}

{% block body %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    {{ message }}
</div>
{% endfor %}

<div class="row" >
<form method="POST" action="article">
    {{ form.csrf_token }}   
    {{ form.article_author_id}}    

    <div class="col s12 m6">
        
        {# Titre de l'article #}
        <fieldset class="name">
            {{ form.article_title.label }}
            {{ form.article_title(placeholder='Sql, Développement, VScode') }}
            {% if form.article_title.errors %}
            <ul class="errors">
            {% for error in form.article_title.errors %}
            <li>{{ error }}</li>{% endfor %}
            </ul>
            {% endif %}
        </fieldset>
        <div class="row">
            <div class="col s6">
                {# selection du theme #}
                <fieldset class="theme select">
                    {{ form.article_theme_id.label }}
                    {{ form.article_theme_id }}
                </fieldset>
            </div>
            <div class="col s6">
                {# public ou privée #}
                <fieldset class="private">
                    {{ form.article_private.label }}
                    {{ form.article_private(class="") }}
                </fieldset>
            </div>
        </div>

        {# Bouton pour tout valider #}
        <div class="submit-button" style="margin-top:10px;">
            {{ form.submit(class="button is-success") }}
        </div>
    </div>

    {# Partie de droite pour le body de l'article #}
    <div class="col s12 m6">
        <fieldset class="description">
            {{ form.article_body.label }}
            {{ form.article_body(class="textarea ", rows="20" ) }}
        </fieldset>
    </div>
</form>
</div>   

{% endblock %}
{% block js %}{% endblock %}