{% extends 'base.html' %}

{% block title %}Main,Ookaarchyves{% endblock %}
{% block topbar %}
<header id="top-bar" class="row">
  <div class="col s4">
    <input class="" type="text" placeholder="Futur cadre de recherche">
  </div>


  <div class="fixed-action-btn">
    <a class="btn-floating btn">
      <i id="ooka-color" class="fas fa-plus"></i>
    </a>
    <ul>
      <li><a class="btn-floating red" title="Ajouter une category" href="{{url_for('ookarchyves.oa_theme')}}">
        <i class="fas fa-folder-plus"></i>
      </a></li>
      <li><a class="btn-floating yellow darken-1" title="Ecrire un article" href="{{url_for('ookarchyves.oa_article')}}">
        <i class="fas fa-file-alt"></i>
      </a></li>
    </ul>
  </div>
</header>
{% endblock %}


{% block body %}
<div class="row">

 {% for theme in themes %}
   <div class="box col" style="margin: 5px;">    
            <h5 style="text-align: left; text-decoration: underline;">{{theme.nom}}</h5>

      <p style="text-align: justify; font-style: italic;"> {{theme.description}}</p>
      <div class="row">
         {% for art in theme.articles %}
         <button class="col modal-button" data-target="modal" data-article="{{art.id}}">
            {{art.article_title}}
         </button>
         {% endfor %}
      </div> 
   </div>
{% endfor %}
</div>


<div class="modal">
   <div class="modal-background"></div>
   <div class="modal-card">
     <header class="modal-card-head">
       <p class="modal-card-title"></p>
       <button class="delete" aria-label="close"></button>
     </header>
     <section class="modal-card-body">
       <!-- Content ... -->
     </section>
     <footer class="modal-card-foot">
       <button class="button is-success">Save changes</button>
       <button class="button">Cancel</button>
     </footer>
   </div>
 </div>
 

{% endblock %}

{% block js %}
<script src="{{url_for('ookarchyves.static', filename='oa.js')}}"></script>
{% endblock %}

