{% extends "base.html" %}

{% block title %} Ajouter un Module{% endblock %}

{% block body %}
  <div class="form-wrapper">
    <h5>Nouveau Module</h5>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button
          type="button"
          class="close"
          data-dismiss="alert">
          x
        </button>
        {{ message }}
      </div>
    {% endfor %}

    <form method="POST" action="module">
    {{ form.csrf_token }}
      <fieldset class="name">
        {{ form.module_name.label }}
        {{ form.module_name(placeholder='Setting') }}
        {% if form.module_name.errors %}
          <ul class="errors">
            {% for error in form.module_name.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>
       <fieldset class="couleur">
        {{ form.module_color.label }}
        {{ form.module_color}}
      </fieldset>
    
        <div class="submit-button" style="margin-top:10px;">
        {{ form.submit(class="button is-success") }}
        </div>
    </form>

    <div>
      <h5>Modules existant</h5>
      <div class="row">
        {% for m in modules %}
          <div class="col s4">
          <div class="card {{m.module_color}}">
            {{m.module_name}} - {{m.module_color}} - visible: {{m.module_visible}}

          </div>

          </div>
          {% endfor %}
      </div>
    </div>
</div>
{% endblock %}