{% extends "base.html" %}

{% block title %} Ajouter un Projet{% endblock %}

{% block body %}
  <div class="form-wrapper">

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button
          type="button"
          class="close"
          data-dismiss="alert">
          x
        </button>
        {{ message }}
      </div>
    {% endfor %}

    <form method="POST" action="projet">
    {{ form.csrf_token }}
      <fieldset class="name">
        {{ form.project_name.label }}
        {{ form.project_name(placeholder='Super Potatoes') }}
        {% if form.project_name.errors %}
          <ul class="errors">
            {% for error in form.project_name.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>
       <fieldset class="description">
        {{ form.project_description.label }}
        {{ form.project_description(class="textarea is-info", rows="4" ) }}
      </fieldset>
         <fieldset class="estimation">
         {{form.project_estimation.label}}
         {{form.project_estimation}}
         </fieldset>
         <fieldset class="deadline">
         {{form.project_deadline.label}}
         {{form.project_deadline(type='date')}}
         </fieldset>

    <div class="submit-button" style="margin-top:10px;">
      {{ form.submit(class="button is-success") }}
    </div>

    </form>

{% endblock %}