{% extends 'base.html' %}
{% block title %}Parametre Utilisateur{% endblock %}

{% block stylesheet %}
  <style>
    main {
      padding-right: 20px;
    }
  </style>
{% endblock %}

{% block body %}
  <table id="params-table" class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Nom Parametre</th>
        <th>Module</th>
        <th>Description</th>
        <th>Valeur par defaut</th>
        <th>Activer</th>
      </tr>
    </thead>
    <tbody>
      {% for p in pref %}
        <tr>
          <th>{{p.id}}</th>
          <td>{{p.setting_parameter}}</td>
          <td>{{p.setting_module}}</td>
          <td>{{p.setting_commentary}}</td>
          <td>{{p.setting_default_value}}</td>
          <td>
            {% if p.setting_value %}
            <i class="fas fa-sync has-text-grey-light"></i>
            {% else %}
            <i class="fas fa-sync has-text-success fa-spin"></i>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


