{% extends 'base.html' %}

{% block title %}Parametre Utilisateur{% endblock %}

{% block body %}
<h1>Utiliser les datatables</h1>
  <table id="params-table" class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Nom Parametre</th>
        <th>Description</th>
        <th>Activer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>private_article</td>
        <td>mefjzemlfjzelf jzmel z</td>
        <td><i class="far fa-check-circle has-text-grey-light"></i></td>
     </tr>
     <tr>
        <th>2</th>
        <td>private_article_isible</td>
        <td>mefjzemlfjzelf jzmel z</td>
        <td><i class="far fa-check-circle has-text-success"></i></td>
     </tr>
     
    </tbody>
  </table>
{% endblock %}


