<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Identité Numérique d'une développeuse">
    <title>Ookamy - {% if logg %}{% block title %}{% endblock %}{% else %} Log In{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/OokaLogo.svg') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {# <link rel="stylesheet" href="{{ url_for('static', filename='semantic/semantic.min.css') }}"> #}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"/> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

</head>

<body {% if logg %} id="ooka-body" {% endif %}>

    {% if logg %}
        <div id="" class="container-max-width columns pb-0 pr-2 mb-0">
            <div id="sidenav" class="column is-narrow ">
                <!-- menu -->
                <aside class="menu">
                    <p class="menu-label" style="color: var(--textMenu) !important;">
                        {% if name %}
                            <img class="image is-32x32 is-rounded" src="{{ url_for('static', filename='img/OokaLogo.svg') }}">
                            {{name}}
                        {% endif %}
                    </p>
                    <ul class="menu-list ">
                        <li><a class="item {% if menu_active == 'Modules' %} is-active{% endif %}" href="{{ url_for('menu') }}"><i class="far fa-folder"></i> Modules</a></li>
                        <li><a class="item {% if menu_active == 'Ookarchyves' %} is-active{% endif %}" href="{{ url_for('ookarchyves.main') }}"><i class="fas fa-cat"></i> Ookarchyves</a></li>
                        <li><a class="item {% if menu_active == 'Ookamanager' %} is-active{% endif %}" href="{{ url_for('ookamanager.main') }}"><i class="fas fa-cat"></i> Ookamanager</a></li>
                    </ul>
                    <ul class="menu-list ver-bot">
                        <li><a class="item {% if menu_active == 'Params' %} is-active{% endif %}"" href="{{ url_for('params.params') }}"><i class="fas fa-users-cog"></i> Parametrage</a></li>
                        <li><a class="item" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i>Log-out</a></li>
                    </ul>
                </aside>
            </div>

            <div id="" class="column content">
                {% block body %}{% endblock %}
            </div>
        </div>
        
    {% else %}
    <div id="ooka-login" class="column content">
        {% extends "auth/login.html" %}
    </div>
    {% endif %}

    <!-- partie script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> #}
    {# <script src="{{url_for('static', filename='semantic/semantic.min.js')}}"></script> #}
    <script src="{{url_for('static', filename='js/ookaScript.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</body>

</html>
