<!DOCTYPE html>
<html lang="fr">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Identité Numérique d'une développeuse">
   <title>Ookamy - Développeuse Junior</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/OokaLogo.svg') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" />
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body id="index-page">

   <div id="first">
      <div class="index-text">
         <h1 class="massEffect"><span class="firstName">Ookamy</span></h1>
         <h2 class="index-h2 massEffect">Développeuse
         </h2>
         <a href="#third" class="btn-floating btn-large pulse"><i class="material-icons">favorite</i></a>
      </div>
   </div>

   <div id="third" class="">
      <!-- <h2><img class="ooka-svg" src="{{ url_for('static', filename='img/programmation.svg') }}" alt=""></h2> -->
      <div class="row max-width-800">
         <div class="col s12 m4">
            <div class="d3c1 card">
               <div class="card-image">
                  <img src="{{ url_for('static', filename='img/prototype/pizzamama.png') }}">
                  <span class="card-title icon-title"><i class="fab fa-python d3c1-icon"></i></span>
               </div>
               <div class="card-content">
                  <p> Projet développé avec Python et Django.
                     Mis en prod sur Heroku. </p>
               </div>
               <div class="card-action">
                  <a class="d3c1-icon" href="https://ookamypizzamamadjango.herokuapp.com/"><i
                        class="fab fa-firefox-browser d3c1-icon"></i> Prototype</a><br>
                  <a class="d3c1-icon"
                     href="https://github.com/MmeOokamy/PythonProjects/tree/master/web_pizza_mama_django/pizzamama">Github
                     Repository <i class="fab fa-github d3c1-icon"></i></a>
               </div>
            </div>
         </div>

         <div class="col s12 m4">
            <div class="d3c2 card">
               <div class="card-image">
                  <img src="{{ url_for('static', filename='img/prototype/spectreairlines.png') }}">
                  <span class="card-title"><i class="fab fa-react d3c2-icon"></i></span>
               </div>
               <div class="card-content">
                  <p> Projet développé avec ReactJS.</p>
               </div>
               <div class="card-action">
                  <a class="d3c2-icon" href="https://ooka.planethoster.world/project/NormandyAirlines/recherche"><i
                        class="fab fa-firefox-browser d3c2-icon"></i> Prototype</a> <br>
                  <a class="d3c2-icon" href="https://github.com/MmeOokamy/AirMobile-ReactJs">Github Repository <i
                        class="fab fa-github d3c2-icon"></i></a>
               </div>
            </div>
         </div>

         <div class="col s12 m4">
            <div class="d3c3 card">
               <div class="card-image">
                  <img class="activator" src="{{ url_for('static', filename='img/prototype/moviesdb.png') }}">
                  <span class="card-title"><i class="fab fa-python d3c3-icon"></i></span>
               </div>
               <div class="card-content">
                  <p>Site PHP et App Python de gestion de film avec recherche sur l'api MovieDB</p>
               </div>
               <div class="card-action">
                  <a class="d3c3-icon" href="https://github.com/MmeOokamy/python_MoviesDB"><i
                        class="fab fa-python d3c3-icon"></i> Python Repository <i class="fab fa-github"></i></a> <br>
                  <a class="d3c3-icon" href="https://github.com/MmeOokamy/MoviesLand-ECF-DWWM"><i
                        class="fab fa-php"></i> PHP Repository <i class="fab fa-github"></i></a>
               </div>
            </div>
         </div>

         <div class="col s12 m4">
            <div class="d3c1 card">
               <div class="card-image">
                  <img src="{{ url_for('static', filename='img/prototype/botdiscord.png') }}">
                  <span class="card-title icon-title"><i class="fab fa-python d3c1-icon"></i></span>
               </div>
               <div class="card-content">
                  <p>Discord-Bot avec 2 jeux : <br>
                     Deviner le nombre magique. <br>
                     Duel avec un Krogan.
                  </p>
               </div>
               <div class="card-action">
                  <a class="d3c1-icon" href="https://github.com/MmeOokamy/shepard_discord_bot">Github Repository <i
                        class="fab fa-github d3c1-icon"></i></a>
               </div>
            </div>
         </div>

         <div class="col s12 m4">
            <div class="d3c2 card">
               <div class="card-image">
                  <img src="{{ url_for('static', filename='img/prototype/superpotatoes.png') }}">
                  <span class="card-title d3c2-icon"><i class="fab fa-python d3c2-icon"></i> + <i
                        class="fas fa-pepper-hot d3c2-icon"></i></span>
               </div>
               <div class="card-content">
                  <p>En Conception avec Flask et postgreSQL (MySQL pour la prod)! </p>
               </div>
               <div class="card-action">
                  <a class="d3c2-icon" href="https://github.com/MmeOokamy/super-potatoes">Github Repository <i
                        class="fab fa-github d3c2-icon"></i></a>
               </div>
            </div>
         </div>

         <div class="col s12 m4">
            <div class="d3c3 card ">
               <div class="card-image">
                  <img class="activator" src="{{ url_for('static', filename='img/prototype/git.png') }}">
                  <span class="card-title"><i class="fab fa-github d3c3-icon"></i></span>
               </div>
               <div class="card-content">
                  <p>
                     <a class="d3c3-icon" href="https://github.com/MmeOokamy">Mes Repository publics</a>
                  </p>
               </div>
               <div class="card-action">
                  <a class="d3c3-icon" href="https://github.com/MmeOokamy"></i><i class="fab fa-github"></i></a>
               </div>
            </div>
         </div>

         <div class="col s12 m4">
            <div class="d3c3 card coperfields">
               <div class="card-image">
                  <img class="activator" src="">
                  <span class="card-title"><i class="fab fa-python d3c3-icon"></i></span>
               </div>
               <div class="card-content">
                  <p></p>
               </div>
               <div class="card-action">
                  <a class="d3c3-icon" href=""><i class="fab fa-python d3c3-icon"></i><i class="fab fa-github"></i></a>
                  <br>
                  <a class="d3c3-icon" href=""><i class="fab fa-php"></i><i class="fab fa-github"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div id="second">
      <div id="cv-body" class="row container">
         <!-- PARTIE GAUCHE -->
         <div id="cv-left" class="col s12 m3">
            <!-- icon ookamylogo -->
            <div id="cv-logo" class="col valign-wrapper">
               <img class="responsive-img" src="{{ url_for('static', filename='img/OokaLogo.svg') }}"
                  alt="Le Logo d'Ookamy">
            </div>
         </div>

         <!-- PARTIE DROITE -->
         <div id="cv-right" class="col s12 m9">
            <!-- 3 lignes 2 colonnes -->
            <div id="first-lign" class="row">

               <div id="identity" class="col s12 m6 ">
                  <!-- identity -->
                  <ul>
                     <li>
                        <h6 class="cv-title">Emmanuelle Gougelet</h6> <span class="span-marg-20"></span>
                     </li>
                     <li>Développeuse </li>
                     <li>France, Loire(42)</li>
                     <li></li>
                  </ul>

               </div>

               <div id="techno" class="col s12 m6">
                  <!-- techno -->
                  <div class="col s12">
                     <h6 id="identity" class="cv-title">Technos</h6>
                  </div>
                  <div class="col s3"><i class="fab fa-python"></i></div>
                  <div class="col s3"><i class="fab fa-php"></i></div>
                  <div class="col s3"><i class="fab fa-java"></i></div>
                  <div class="col s3"><i class="fab fa-js"></i></div>
                  <div class="col s3"><i class="fab fa-linux"></i></div>
                  <div class="col s3"><i class="fab fa-windows"></i></div>
                  <div class="col s3"><i class="fas fa-terminal"></i></div>
                  <div class="col s3"><i class="fas fa-code-branch"></i></div>
                  <div class="col s3"><i class="fas fa-database"></i></div>
                  <div class="col s3"><i class="fab fa-symfony"></i></div>
                  <div class="col s3"><i class="fab fa-laravel"></i></div>
                  <!-- <div class="col s3"></div> -->
                  <!-- <div class="col s3"></div> -->

               </div>
            </div>
            <div id="second-lign" class="row">
               <div id="bio" class="col s12 m6">
                  <!-- bio -->
                  <h6 class="cv-title">Bio</h6>
                  <p>
                     Je suis curieuse, autonome et ai soif de savoir.<br>
                     J'ai obtenu mon diplôme de développeuse web en juin 2020 en étudiant principalement PHP et Java.
                     Durant mon stage, j'ai débuté mon apprentissage de Python. Aujourd'hui, je suis : développeuse
                     Junior qui découvre le monde professionnel avec un langage étudié seule.
                  </p>
               </div>
               <div id="like" class="col s12 m6">
                  <!-- i like -->
                  <h6 class="cv-title">I like</h6>
                  <p>
                     J'aime découvrir, explorer et tester. Azerty ou qwerty, windows, manjaro ou ubuntu, je m'adapte et
                     je m'éclate.
                  </p>
               </div>
            </div>
            <div id="third-lign" class="row">
               <div id="pro-needs" class="col s12 m6">
                  <!-- mesbesoinsetenvie pro -->
                  <h6 class="cv-title">Mes Besoins et Ambitions</h6>
                  <!-- etre positif -->
                  <p>
                     Professionnellement, je recherche un réel esprit d'équipe et un environnement bienveillant. Je veux
                     pouvoir partager mes idées et échanger en cas de blocages dans mes taches. Mes collègues ne sont
                     pas là pour faire mon travail. Nous sommes là pour nous améliorer les uns les autres. Il peut
                     parfois être difficile de répondre, mais il est encore plus compliqué de faire le premier pas vers
                     l'autre en exposant ses faiblesses.
                  </p>
               </div>
               <div id="pro-frustration" class="col s12 m6">
                  <!-- frustration -->
                  <h6 class="cv-title">Mes craintes</h6>
                  <!-- etre honnete et essayer de faire des phrase neutre et pas seulement negative -->
                  <p>
                     Mes craintes sont de végéter dans une tache, ne pas être épanouis et me sentir comme un imposteur.
                  </p>
               </div>
            </div>
         </div>


      </div>
   </div>

   <div id="four">
      <a href="{{ url_for('auth_bp.login') }}" class="" title="&#x1F91F Into the Unknow ! &#x1F609"><img id="door-img"
            src="{{ url_for('static', filename='img/goparadise.png') }}" alt="&#x1F91F Into the Unknow ! &#x1F609">
      </a>
   </div>


   <footer>
      <i class="fab fa-linux"></i>
      Ookamy-&copy;-2005-{{d}}
   </footer>
   <script>

   </script>
</body>

</html>