<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Identité Numérique d'une développeuse">
    <title>Ookamy - Développeuse Junior</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/ico"  href="{{ url_for('static', filename='img/OokaLogo.svg') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
</head>
<body id="index-page">

        <div id="first">
            <div class="index-text">
                <h1 class="massEffect">Emmanuelle <span class="firstName">GOUGELET</span></h1>
                <h2 class="index-h2 massEffect">Développeuse Junior</h2>
                <a href="#second" class="btn-floating btn-large pulse"><i class="material-icons">favorite</i></a>
            </div>
        </div>

        <div id="second">
            <h2><img id="OokaLogo" class="cookies" src="{{ url_for('static', filename='img/OokaLogo.svg') }}" alt="Le Logo d'Ookamy" ></h2>
            <div class="col s12 m12">
                    <hr class="ooka-hr-m" >
                </div>
            <div class="row max-width-800">
                <div class="col s12 m6 ">
                    <p class="ooka-justify">
                        Développeuse curieuse, autonome et qui a soif de savoir. J'aime tester, explorer et découvrir.
                    </p>
                </div>

                <div class="col s12 m6">
                    <p class="ooka-justify">
                        Junior dans l'univers du développement, ma capacité d'adaptation est une force qui m'a permis de plonger dans divers langages de programmation.
                    </p>
                </div>

                <div class="col s12 m12">
                    <hr class="ooka-hr-m" >
                </div>
                
                <div class="col s12 m12">
                    <p class="ooka-center ooka-txt-s20">
                            <i class="fab fa-python"></i> 
                            <i class="fab fa-php"></i> 
                            <i class="fab fa-java"></i> 
                            <i class="fab fa-js"></i>
                    </p>
                </div>
            </div>
        </div>

        <div id="third" class="">
            <h2><img class="ooka-svg" src="{{ url_for('static', filename='img/programmation.svg') }}" alt=""></h2>

            <div class="row max-width-800">

                <div class="col s12 m4">
                    <div class="d3c1 card">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='img/prototype/pizzamama.png') }}">
                            <span class="card-title icon-title"><i class="fab fa-python d3c1-icon"></i></span>
                        </div>
                        <div class="card-content">
                            <p> Projet développé avec Python et django.
                            Mis en prod sur Heroku. </p>
                        </div>
                        <div class="card-action">
                            <a class="d3c1-icon" href="https://ookamypizzamamadjango.herokuapp.com/"><i class="fab fa-firefox-browser d3c1-icon"></i> Prototype</a><br>
                            <a class="d3c1-icon" href="https://github.com/MmeOokamy/PythonProjects/tree/master/web_pizza_mama_django/pizzamama">Github Repository <i class="fab fa-github d3c1-icon"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="d3c2 card">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='img/prototype/spectreairlines.png') }}">
                            <span class="card-title"><i class="fab fa-react d3c2-icon"></i></span>
                        </div>
                        <div class="card-content">
                            <p> Projet développé avec ReactJS.</p>
                        </div>
                        <div class="card-action">
                            <a class="d3c2-icon" href="https://ooka.planethoster.world/project/NormandyAirlines/recherche"><i class="fab fa-firefox-browser d3c2-icon"></i> Prototype</a> <br>
                            <a class="d3c2-icon" href="https://github.com/MmeOokamy/AirMobile-ReactJs">Github Repository <i class="fab fa-github d3c2-icon"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="d3c3 card">
                        <div class="card-image">
                            <img class="activator" src="{{ url_for('static', filename='img/prototype/moviesdb.png') }}">
                            <span class="card-title"><i class="fab fa-python d3c3-icon"></i></span>
                        </div>
                        <div class="card-content">
                            <p>Site PHP et App Python de gestion de film avec recherche sur l'api MovieDB</p>
                        </div>
                        <div class="card-action">
                            <a class="d3c3-icon" href="https://github.com/MmeOokamy/python_MoviesDB"><i class="fab fa-python d3c3-icon"></i> Python Repository  <i class="fab fa-github"></i></a> <br>
                            <a class="d3c3-icon" href="https://github.com/MmeOokamy/MoviesLand-ECF-DWWM"><i class="fab fa-php"></i> PHP Repository <i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="d3c1 card">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='img/prototype/botdiscord.png') }}">
                            <span class="card-title icon-title"><i class="fab fa-python d3c1-icon"></i></span>
                        </div>
                        <div class="card-content">
                            <p>Discord-Bot avec 2 jeux : <br>
                                Deviner le nombre magique. <br>
                                Duel avec un Krogan.
                            </p>
                        </div>
                        <div class="card-action">
                            <a class="d3c1-icon" href="https://github.com/MmeOokamy/shepard_discord_bot">Github Repository <i class="fab fa-github d3c1-icon"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="d3c2 card">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='img/prototype/superpotatoes.png') }}">
                            <span class="card-title d3c2-icon"><i class="fab fa-python d3c2-icon"></i> + <i class="fas fa-pepper-hot d3c2-icon"></i></span>
                        </div>
                        <div class="card-content">
                            <p>En Conception avec Flask et postgreSQL. Ookamy.fr v4? </p>
                        </div>
                        <div class="card-action">
                            <a class="d3c2-icon" href="https://github.com/MmeOokamy/super-potatoes">Github Repository <i class="fab fa-github d3c2-icon"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="d3c3 card coperfields">
                        <div class="card-image">
                            <img class="activator" src="{{ url_for('static', filename='img/prototype/moviesdb.png') }}">
                            <span class="card-title"><i class="fab fa-python d3c3-icon"></i></span>
                        </div>
                        <div class="card-content">
                            <p>Site PHP et App Python de gestion de film avec recherche sur l'api MovieDB</p>
                        </div>
                        <div class="card-action">
                            <a class="d3c3-icon" href="https://github.com/MmeOokamy/python_MoviesDB"><i class="fab fa-python d3c3-icon"></i>Python Github Repository  <i class="fab fa-github"></i></a> <br>
                            <a class="d3c3-icon" href="https://github.com/MmeOokamy/MoviesLand-ECF-DWWM"><i class="fab fa-php"></i> PHP Github Repository <i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <a href="{{ url_for('login') }}" class="" title="&#x1F91F Into the Unknow ! &#x1F609">
                <i class="fab fa-linux"></i>
            </a>
        </footer>
<script>
        
</script>
</body>
</html>
