<ul id="sidenav" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <p class="menu-label" style="color: var(--textMenu) !important;">
                {% if current_user %}
                    <img class="image is-32x32 is-rounded" src="{{ url_for('static', filename='img/OokaLogo.svg') }}">
                    {{current_user}}
                {% endif %}
            </p>
        </div>
    </li>
    {% if current_user.check_statue %}{{current_user.check_statue}}{% endif %}
    <li><a class=" {% if menu_active == 'Modules' %} is-active{% endif %}" href="{{ url_for('module') }}"><i class="far fa-folder"></i> Modules</a></li>
    <li><a class=" {% if menu_active == 'Ookarchyves' %} is-active{% endif %}" href="{{ url_for('ookarchyves.oa_index') }}"><i class="fas fa-cat"></i> Ookarchyves</a></li>
    <li><a class=" {% if menu_active == 'Ookamanager' %} is-active{% endif %}" href="{{ url_for('ookamanager.om_index') }}"><i class="fas fa-cat"></i> Ookamanager</a></li>

    <li>
        <div class="ver-bot">
            <ul >
                {% if current_user.fuul_powaa() %}
                <li><a class="item {% if menu_active == 'Params' %} is-active{% endif %}" href="{{ url_for('params.params') }}"><i class="fas fa-users-cog"></i> Parametrage</a></li>
                {% endif %}
                <li><a class="item" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Log-out</a></li>
                </ul>
        </div>
    </li>
</ul>
