{% extends 'base.html' %}
{% block title %}Nouveaute{% endblock %}
{% block stylesheet %}
  <style>
    main {
      padding-right: 20px;
    }
  </style>
{% endblock %}

{% block topbar %}
<header id="top-bar">

</header>

{% endblock %}

{% block body %}

<table id="params-table" class="table">
   <thead>
     <tr>
       <th>N°</th>
       <th>News</th>
       <th>Module</th>
       <th>Date</th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <th>01</th>
         <td>Mise en ligne du site et debut du developpement des modules ookarchyves et ookamanager</td>
         <td>ookamanager, ookarchyves, super potatoes</td>
         <td>21/11/2021</td>
       </tr>
   </tbody>
 </table>

{% endblock %}

{% block js %}{% endblock %}
